/* General */

h2 {
  font-size: 23px;
}

.movieInfosDiv {
  margin-top: -100%;
  margin-left: 0px;
  width: 10vw;
  height: 2.64vh;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
}

.movieInfos {
  font-size: 15px;
}
.movieTitle {
  font-size: 20px;
}

.movie {
  width: 10vw;
  // max-height: 40vh;
  margin-bottom: -6px;
  position: relative;
  background-color: rgb(0, 0, 0);
}

.movie:hover > .movieInfosDiv {
  visibility: visible;
}
.movie:hover > img {
  opacity: 0.18;
}

.movie img {
  width: 10vw;
}

.icon-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red !important;
}

/* Responsive */

@media only screen and (max-width: 1730px) {
  .movie,
  .movieInfos,
  .movieInfosDiv,
  .movie img {
    width: 20vw;
  }
}

@media only screen and (max-width: 900px) {
  .movieTitle {
    font-size: 18px;
  }
}

@media only screen and (max-width: 700px) {
  .movie,
  .movieInfos,
  .movieInfosDiv,
  .movie img {
    width: 50vw;
  }
}
