/* Error toasts */

.error-toasts {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  font-family: "Helvetica Neue";
}

/* Info toasts */

.info-toasts {
  background-color: rgba(0, 255, 0, 0.5);
  color: white;
  font-family: "Helvetica Neue";
}
